module {{.Name}}

go {{.GoVersion}}

require (
	gitlab.shanhai.int/sre/app-framework v0.7.7
	gitlab.shanhai.int/sre/library v0.7.7
	github.com/Shopify/sarama v1.27.1 // indirect
	github.com/gin-gonic/gin v1.6.3
)


